# Binaries for programs and plugins
*.exe
*.exe~
*.tar.xz
*.apk

# Test binary, built with `go test -c`
*.test

# Dependency directories
vendor/

# Go workspace file
go.work
go.work.sum

# Editor/IDE
.idea/
.vscode/

# Editor/IDE
build/releases/